<div style="width: 80%;margin:0 auto;">
	<%= form_tag geolocalisations_path, :method => :get do %>
	  <p>
	    <%= text_field_tag :search, params[:search] %>
	    <%= submit_tag "Buscar", :name => nil %>
	  </p>
	<% end %>

	<table>
	  <tr>
	    <th>Address</th>
	    <th>Latitude</th>
	    <th>Longitude</th>
	  </tr>
	  <% for geolocalisation in @geolocalisations %>
	    <tr>
	      <td><%= geolocalisation.address %></td>
	      <td><%= geolocalisation.latitude %></td>
	      <td><%= geolocalisation.longitude %></td>
	      <td><%= geolocalisation.created_at %></td>
	      <td><%= link_to "Ver", geolocalisation,class:"red" %></td>
	      <td><%= link_to "Editar", edit_geolocalisation_path(geolocalisation),class:"red" %></td>
	      <td><%= link_to "Eliminar", geolocalisation,class:"red", :confirm => 'Desea eliminarlo?', :method => :delete %></td>
	    </tr>
	  <% end %>
	</table>
	<p><%= link_to "New", new_geolocalisation_path ,class:"red"%></p>
	<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
	<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers(<%=raw @hash.to_json %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
</script>
</div>
